@charset "UTF-8";

html
{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    margin: 0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

nav
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a
{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    background-color: #e02828;
    color: #441010;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover
{    
    background-color: #e23d3d;
}

.goBack
{
    border: solid 1px #777;
    margin-top: 5px;
    margin-left: 10px;
   border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #777;
    align-self: flex-start;
}

.goBack a
{
    text-decoration: none; padding: 10px;
    display: block;
    width: 100%;
   border-radius: 5px;
    color: #777;
}

.goBack a:hover
{
    background-color: #fff;
}

main
{
   width: 70%;
   display: flex;
   flex-direction: row;
   margin-top: 5vh;
}

main div:nth-child(1)
{
   width: 60%;
   box-sizing: border-box;
   padding: 10px;
   padding-right: 40px;
   font-size: 4rem;
   line-height: 3.5rem;
   color: #666;    
}

main div:nth-child(1) h3
{
   font-size: 6rem;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   line-height: 5rem;
   color: #333;
   
}

main div:nth-child(2)
{
   width: 40%;
   background-color: #E02828;
   padding: 15px;
   box-sizing: border-box;
   border-radius: 7px;
}

main div:nth-child(2) form
{
}

main div:nth-child(2) form input , textarea
{
   width: 100%;
   margin-top: 5px;
   padding: 7px;
   font-size: 2rem;
   color: #333;
}

